<% provide(:title, 'Edit Station') %>
<h1>Edit Station</h1>

<div class="row">
  <div class="span4 offset3">
    <%= form_for(@station) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag(:id, @station[:id]) %>
      <%= label_tag(:nameStation, "Station name:") %>
      <%= text_field_tag(:nameStation, @station.nameStation) %>

      <%= label_tag(:territory_id, "Territory:") %>
      <% territory_array = Territory.all.map { |territory| [territory.nameTerritory, territory.id]} %>
      <%= select_tag(:territory_id, options_for_select(territory_array, @station.territory_id)) %>

      <%= f.submit "Save changes", class: "btn  btn-primary" %>

  <% end %>

  </div>
</div>
