<div id="item_details">
</div>

<% if @item!=nil %>
<%= render 'stocks/itemDetails', item: @item %>
<% end %>

<div id="stock_comments">
</div>

<table class="table table-striped table-bordered table-condensed">
  <caption>Stock List</caption>
  <thead>
    <tr>
      <th>Station</th>
      <th>Item Name</th>
      <th>PO Id</th>
      <th>Procurement Date</th>
      <th>Invoice No.</th>
      <th>Invoice Date</th>
      <th>Warranty Period</th>
      <th>Initial Stock</th>
      <th>Present Stock</th>
      <th>Issued Reason</th>
      <th>Issue stock</th>
      <th>present stock</th>
      <th>Transfer</th>
      <th>Comments</th>
      <% if current_user.admin? %>
      <th>Edit</th>
      <% end %>
    </tr>

<% if @stocks!=nil %>
  <%  total_initial_stock = 0 
      total_present_stock = 0 %>
  <% @stocks.each do |list| %>
  <% if list.inTransit == false %>
    <tr>
      <%  total_initial_stock += list.initialStock 
          total_present_stock += list.presentStock %>
      <td><%= list.station.nameStation %></td>
      <td><%= list.item.nameItem %></td>
      <td><%= list.poId %></td>
      <td><%= list.poDate.strftime('%d %b %Y') %></td>
      <td><%= list.invoiceNo %></td>
      <td><%= list.invoiceDate.strftime('%d %b %Y') %></td>
      <td><%= toSensibleWords toSensibleTime list.warrantyPeriod %></td>
      <td><%= list.initialStock %></td>
      <td><%= list.presentStock %></td>
      <td><%= list.issuedReason %></td>
      <% if list.item.assetType == 'fixed' %>
      <td><%=link_to "issue", "/asset_list/#{list.id}"%></td>
      <% else %>
      <td><%=link_to "issue", "/consumable_issue/#{list.id}"%></td>
      <% end %>
      <% if list.presentStock > 0 || list.item.assetType != 'consumable'%>
      <td><%=link_to "update", "/present_stock_edit/#{list.id}" %></td>
      <td><%=link_to "transfer", "/initialise_transfer_stock/#{list.id}" %></td>
      <% else %>
      <td>N.A.</td>
      <td>N.A.</td>
      <% end %>
      <td><%=link_to "comments", "/stock_comments/#{list[:id]}", remote: true %></td>
      <% if current_user.admin? %>
      <td><%=link_to "edit", edit_stock_path(list[:id]) %></td>
      <% end %>
    </tr>     
  <% end %>
  <% end %>
<% end %>

  </thead>
</table>

<strong><%= "Total stock supplied: #{total_initial_stock}, Total stock consumed: #{total_initial_stock - total_present_stock}, Total present stock: #{total_present_stock}" %></strong>