<%= render 'stocks/itemDetails', item: @item %>

<table class="table table-striped table-bordered table-condensed">
  <caption>Stock List</caption>
  <thead>
    <tr>
      <th>Station</th>
      <th>PO Id</th>
      <th>PO Date</th>
      <th>Invoice No.</th>
      <th>Invoice Date</th>
      <th>Warranty Period</th>
      <th>Initial Stock</th>
      <th>Present Stock</th>
      <th>Issued Reason</th>
      <th>Next Date Of Procurement</th>
      <th>Update present stock</th>
      <% if current_user.admin? %>
      <th>Edit</th>
      <% end %>
    </tr>

<% if @stocks!=nil %>
  <% @stocks.each do |list| %>
    <tr>
      <td><%= list.station.nameStation %></td>
      <td><%= list.poId %></td>
      <td><%= list.poDate %></td>
      <td><%= list.invoiceNo %></td>
      <td><%= list.invoiceDate %></td>
      <td><%= toSensibleWords toSensibleTime list.warrantyPeriod %></td>
      <td><%= list.initialStock %></td>
      <td><%= list.presentStock %></td>
      <td><%= list.issuedReason %></td>
      <% if list.item.assetType == 'fixed' %>
      <td><%= list.invoiceDate + list.item.lifeCycle.seconds - list.item.leadTime.seconds %></td>
      <% else %>
      <td>On reaching minimum stock level</td>
      <% end %>
      <td><%=link_to "update", "/present_stock_edit/#{list.id}"%></td>
      <% if current_user.admin? %>
      <td><%=link_to "edit", edit_stock_path(list[:id]) %></td>
      <% end %>
    </tr>     
  <% end %>
<% end %>

  </thead>
</table>