<%= render 'stocks/itemDetails', item: @item %>

<table class="table table-striped table-bordered table-condensed">
  <caption>Stock List</caption>
  <thead>
    <tr>
      <th>Station</th>
      <th>PO Id</th>
      <th>PO Date</th>
      <th>Invoice No.</th>
      <th>Invoice Date</th>
      <th>Warranty Period</th>
      <th>Initial Stock</th>
      <th>Present Stock</th>
      <th>Issued Reason</th>
      <th>Update</th>
    </tr>

<% if @stocks!=nil %>
  <% @stocks.each do |list| %>
    <tr>
      <td><%= list.station.nameStation %></td>
      <td><%= list.poId %></td>
      <td><%= list.poDate %></td>
      <td><%= list.invoiceNo %></td>
      <td><%= list.invoiceDate %></td>
      <td><%= toSensibleWords toSensibleTime list.warrantyPeriod %></td>
      <td><%= list.initialStock %></td>
      <td><%= list.presentStock %></td>
      <td><%= list.issuedReason %></td>
      <td><%=link_to "update", edit_stock_path(list[:id]) %></td>
    </tr>     
  <% end %>
<% end %>

  </thead>
</table>