<% provide(:title, 'Present Stock Update') %>
<h1>Present Stock Update</h1>

<div id="item_details">
</div>

<%= render 'stockList' %>

<div class="row">
  <div class="span4 offset3">
    <%= form_for(@asset, url: 'stocks/present_stock_update') do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag(:id, @stock[:id]) %>

      <%= label_tag(:assetSrNo, "Asset Serial Number:") %>
      <%= text_field_tag(:assetSrNo) %>

      <%= f.submit "Update present stock", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>