<% provide(:title, 'Edit Item') %>
<h1>Edit Item</h1>

<div class="row">
  <%= form_for(@item) do |f| %>
  
  <div class="span5 offset3">

   <%= hidden_field_tag(:category, @category) %>
   <%= hidden_field_tag(:id, @item.id) %>

    <%= f.label :code %>
    <%= f.text_field :codeItem %>

    <%= f.label :name %>
    <%= f.text_field :nameItem %>

    <%= f.label :cost, 'Cost Per Item' %>
    <%= f.text_field :cost, step: 1 %>

    <%= f.label :lifeCycle,'Lifecycle' %>
    <%= f.text_field :lifeCycle %>

    <%= f.label :leadTime, 'Lead Time' %>
    <%= f.text_field :leadTime %>

    <%= f.label :minimumStock, 'Minimum Stock' %>
    <%= f.text_field :minimumStock %>

    <%= f.label 'Asset Type' %>
    <% type = [['Fixed', 'fixed'], ['Consumable', 'consumable']] %>
    <%= f.select :assetType, type %>

    <%= f.label 'Vendor' %>
    <%  if @category == 'All'
            vendors = Vendor.all.map { |vendor| [vendor.nameVendor, vendor_id]}
        else vendors = Vendor.where("itemCategory LIKE '#{@category}' OR itemCategory LIKE 'All' ").map { |vendor| [vendor.nameVendor, vendor.id]} 
        end
    %>
    <%= f.select :vendor_id, vendors %>

     <%= render "items/#{@category.downcase}" , f: f , item: @item.itemCategory %>
 
    <%= f.submit "Edit Item", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

